<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.qna.mapper.QnaMapper">
  
  <!-- QNA 글보기 처리 -->
  <!-- rno desc 정렬과 no asc 정렬로 본글 밑에 답변이 오게 정렬 -->
  <select id="list" resultType="org.zerock.qna.vo.QnaVO">
  	select no, rno, ans, title, writer, writeDate, status, parent_writer, secret
  	from (
	  	select rownum rnum, no, rno, ans, title, writer, writeDate, status, parent_writer, secret
	  	from (
	  		select no, rno, title, ans, writer, writeDate, status, parent_writer, secret
	  		from qna
	  		<include refid="search"></include>
	  		order by rno desc, no asc
	  	)
  	)
  	where rnum between #{startRow} and #{endRow}
  </select>
  
  <select id="getTotalRow" resultType="Long">
  		select count(*)
  		from qna
  		<!-- 검색을 달아야 한다. -->
  		<include refid="search"></include>
  	</select>
  	
  	<!-- 일반게시판 리스트 검색 처리 -->
  	<!-- sql 태그는 함수라고 생각하면 편리합니다. -->
  	<sql id="search">
  	<!-- 검색어가 없거나 null일때 동작하지 않도록 처리 -->
  	<if test="word != null and word != ''.toString()">
  		<!-- trim안의 쿼리문 작성후 제일앞에 where 붙이고 where 다음에 나오는 or는 제거합니다. -->
		<trim prefix="where" prefixOverrides="or">
			 <!-- t(제목) 이 있으면 -->
			<if test="key.indexOf('t') >= 0">
				<!-- '%' || #{word} || '%' => 하나의 문자열로 만들어 줍니다.(oracle) -->
				or title like '%' || #{word} || '%' 
			</if>
			<if test="key.indexOf('c') >= 0">
				or content like '%' || #{word} || '%'
			</if>
			<if test="key.indexOf('w') >= 0">
				or writer like '%' || #{word} || '%'
			</if>
		</trim> 
	</if> 	
  	</sql>
  
  <!-- QNA 글보기 -->
  <!-- jsp 처리를 위해 ans도 select -->
  <select id="view" resultType="org.zerock.qna.vo.QnaVO">
  	select q.no, q.rno, q.ans, q.title, q.content, q.filename, q.writer, q.writeDate, q.status, q.secret
  	from qna q, member m
  	where 
  	(q.no = #{no})
  	and (q.writer = m.id)
  </select>
  
  <!-- QNA 글쓰기 -->
  <insert id="write">
  	insert into qna
	(no, rno, title, content, writer, filename, secret)
	values (qna_seq.nextval, qna_seq.nextval, #{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}, #{secret})
  </insert>
  
  <!-- QNA 글수정 -->
  <update id="update">
  	update qna
  	set
  	title = #{title}, content = #{content}, filename = #{filename, jdbcType=VARCHAR}, secret = #{secret}
  	where no = #{no}
  </update>
  
  <!-- QNA 글삭제 -->
  <delete id="delete">
  delete from qna
  where no = #{no}
  </delete>
  
  <!-- QNA 글수정 중 이미지 변경처리 -->
  <update id="deleteImage">
  update qna
  set filename = null
  where no = #{no}
  </update>
  
  <!-- QNA 답변 작성 -->
  <insert id="writeReply">
  	insert into qna
	(rno, no, title, content, writer, filename, ans, parent_writer, secret)
	values (#{no}, qna_seq.nextval, #{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}, 1, #{parent_writer}, #{secret})
  </insert>
  
  <!-- QNA 글상태 처리 -->
  <update id="changeStatus">
  	update qna
  	set status = #{status} where no = #{no}
  </update>
  
  </mapper>