<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.cart.mapper.CartMapper">
  	
    <!-- 장바구니 전체 항목 조회 -->
    <select id="list" resultType="org.zerock.cart.vo.CartVO">
	    SELECT cartno, goodsno, goodsname, imagename, quantity, deliverycharge, saleprice
	    FROM cart
	    WHERE id = #{id}
	</select>
    
    <!-- 장바구니 리스트 페이지 처리를 위한 전체 데이터 개수를 가져오는 쿼리 -->
  	<select id="getTotalRow" resultType="int">
  		select count(*)
  		from cart
  	</select>
    
    <!-- 장바구니에 상품 추가 -->
    <insert id="addToCart" parameterType="org.zerock.cart.vo.CartDTO"> <!-- parameterType을 CartDTO로 수정 -->
        INSERT INTO CART (CARTNO, id, goodsno, goodsname, imagename, quantity, deliverycharge, saleprice)
   		VALUES (
       			(SELECT NVL(MAX(CARTNO), 0) + 1 FROM CART),
		        #{id}, 
		        #{goodsno}, 
		        #{goodsname}, 
		        #{imagename}, 
		        #{quantity}, 
		        #{deliverycharge}, 
		        #{saleprice}
		    	)
    </insert>

    <!-- 장바구니에서 선택된 상품 삭제 -->
    <delete id="removeItems">
        DELETE FROM cart WHERE cartNo IN
        <foreach collection="cartNos" item="cartNo" open="(" separator="," close=")">
            #{cartNo}
        </foreach>
    </delete>

    <!-- 장바구니 비우기 -->
    <delete id="clearCart">
        DELETE FROM cart 
        Where id = #{id}
    </delete>
    
    <!-- 쿠폰함 전체 항목 조회 -->
    <select id="myCouponList" resultType="org.zerock.mycoupon.vo.MyCouponVO">
	    SELECT
	    	c.no, c.name, c.discount_type, c.discount_value, c.valid_from, c.valid_until,
	    	cu.is_used, cu.used_at
	    FROM
    	    coupon c
   		JOIN
       		coupon_user cu ON c.code = cu.code
   		WHERE
       		cu.user_id = #{user_id} <!-- 로그인한 사용자 ID 기준으로 필터링 -->
 		  	AND
	        <![CDATA[ valid_from <= sysDate
	        AND trunc(sysDate) <= valid_until ]]>
	</select>
  	

  </mapper>
  
